services:
  db:
    image: postgres:18-alpine
    ports:
      - "${APPLICATION_DATABASE_PORT}:5432"
    environment:
      - POSTGRES_DB=${APPLICATION_DATABASE_NAME}
      - POSTGRES_USER=${APPLICATION_DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${APPLICATION_DATABASE_PASSWORD}
    volumes:
      - database:/var/lib/postgresql/data
    networks:
      - blog-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${APPLICATION_DATABASE_USERNAME} -d ${APPLICATION_DATABASE_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  static:
    image: chrislusf/seaweedfs:4.07
    container_name: seaweedfs
    ports:
      - "8333:8333"
      - "8888:8888"
      - "9333:9333"
    command: "server -s3 -dir=/data"
    volumes:
      - static-data:/static
    networks:
      - blog-network
    restart: unless-stopped

networks:
  blog-network:
    driver: bridge

volumes:
  database:
  static-data:
