services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog-api
    ports:
      - "${APPLICATION_SERVER_PORT}:8080"
    env_file:
      - .env
    environment:
      - APPLICATION_DATABASE_HOST=db
      - APPLICATION_DATABASE_PORT=5432
      - APPLICATION_STORAGE_ENDPOINT=http://static:8333
      - APPLICATION_RABBIT_MQ_HOST=rabbitmq
      - APPLICATION_RABBIT_MQ_PORT=5672
      - APPLICATION_MAIL_HOST=mail
      - APPLICATION_MAIL_PORT=1025
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      static:
        condition: service_started
      mail:
        condition: service_started
    networks:
      - blog-network
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    container_name: blog-db
    ports:
      - "${APPLICATION_DATABASE_PORT}:5432"
    environment:
      - POSTGRES_DB=${APPLICATION_DATABASE_NAME}
      - POSTGRES_USER=${APPLICATION_DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${APPLICATION_DATABASE_PASSWORD}
    volumes:
      - database:/var/lib/postgresql/data
    networks:
      - blog-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${APPLICATION_DATABASE_USERNAME} -d ${APPLICATION_DATABASE_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  static:
    image: chrislusf/seaweedfs:4.07
    container_name: seaweedfs
    ports:
      - "8333:8333"
      - "8888:8888"
      - "9333:9333"
    command: "server -s3 -s3.config=/etc/seaweedfs/s3.json -dir=/data"
    volumes:
      - static-data:/data
      - ./configs/s3.json:/etc/seaweedfs/s3.json:ro
    networks:
      - blog-network
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2.3-management
    container_name: rabbitmq
    ports:
      - "${APPLICATION_RABBIT_MQ_PORT}:5672"
      - "${APPLICATION_RABBIT_MQ_CLIENT_PORT}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${APPLICATION_RABBIT_MQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${APPLICATION_RABBIT_MQ_PASSWORD}
    networks:
      - blog-network
    restart: unless-stopped

  mail:
    image: axllent/mailpit:v1.28
    container_name: mailpit
    ports:
      - "${APPLICATION_MAIL_CLIENT_PORT}:8025"
      - "${APPLICATION_MAIL_PORT}:1025"
    networks:
      - blog-network
    restart: unless-stopped

networks:
  blog-network:
    driver: bridge

volumes:
  database:
  static-data:
